body {
  background-color: rgb(251, 251, 251);
}

.checkout-container {
  max-width: 100%;
  /* height: 1000px; */
  display: flex;
  margin: 20px 5%;
}

.checkout-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.left-container {
  width: 60%;
  height: fit-content;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  flex-direction: column;
}

.container-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 10px !important;
}


/* Top Content (Produk, quantity) */
.top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary);
}

.checkout-top-left {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.img-container {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  overflow: hidden;
  border: 1.9px solid var(--primary);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.checkout-top-left p {
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
  margin-top: 5px !important;
}


  /* Checkout Right Content */
  .checkout-top-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 10px;
  }

  .qty-container {
    display: inline-flex;
    border: 1.8px solid var(--primary);
    border-radius: 6px;
    overflow: hidden;
    width: fit-content;
    color: var(--text);
  }

  .qty-container input[type=number] {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    -moz-appearance: textfield;
  }

  .qty-container input::-webkit-outer-spin-button,
  .qty-container input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
  }

  .qty-container span {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qty-container button {
    all: unset;
    padding: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .qty-container button:active {
    background: rgba(132, 169, 156, 0.86);
  }

  .qty-container button:active span {
    color: white;
  }

  .harga {
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
  }
  /* Checkout Right Content */
/* Top Content (Produk, quantity) */



/* Bottom content (Zona, Form) */
  .bottom-wrapper { 
    margin-top: 20px;
  }

  /* Form */
  .form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .form-left, 
  .form-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  .form p {
    font-size: 16px;
  }
  
  .form input, 
  .form textarea {
    height: 45px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    color: var(--text);
    border: solid 2px #F2F2F2;
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 0.07);
  }

  .form textarea {
    height: 150px;
    padding: 10px;
  }
  /* Form */
/* Bottom content (Zona, Form) */



.right-container {
  flex: 1;
  height: auto;
  width: 100%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.zona-kirim-container {
  border-bottom: 2px solid var(--primary);
  padding-bottom: 20px;
  margin-bottom: 20px;
  min-height: 360px;
}

#map {
  position: relative;
  width: 100%;
  height: 360px;
  border-radius: 6px;
  overflow: hidden;

}

.metode-container {
  display: flex;
  flex-direction: column;
}

.form-custom-dropdown {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 2px solid var(--primary);
  margin-bottom: 20px;
}

.choices {
  width: 100% !important;
  height: 100%;
  color: var(--text);
  display: flex;
  align-items: center;
  border: none;
  overflow: hidden;
  box-shadow: none;
  text-wrap: nowrap;
  background-color: transparent
}

.choices__inner {
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 6px;
  background-color: transparent;
}


.choices__item--selectable {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--text);
}

.btn {
  min-width: 100% !important;
  height: 50px;
  background-color: var(--primary);
  color: white;
  font-size: 19px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  transition: background-color 0.2s ease, color 0.1s ease;
}

.btn:hover {
  background-color: rgba(86, 169, 138, 0.86);
  color: white;
}