body {
  background-color: rgb(245, 245, 245);
}

.checkout-container {
  max-width: 100%;
  display: flex;
  margin: 20px 5%;
}

.checkout-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.left-container {
  width: 60%;
  height: fit-content;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  flex-direction: column;
  display: flex;
}

.container-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 10px !important;
}


/* Top Content (Produk, quantity) */
.top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary);
  margin-bottom: 20px;
}

.top-wrapper .left {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.img-container {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  overflow: hidden;
  border: 1.9px solid var(--primary);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-wrapper .left p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
  margin-top: 5px !important;
}

  /* Checkout Right Content */
  .top-wrapper .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 10px;
  }

  .qty-container {
    display: inline-flex;
    border: 1.8px solid var(--primary);
    border-radius: 6px;
    overflow: hidden;
    width: fit-content;
    color: var(--text);
  }

  .qty-container input[type=number] {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    -moz-appearance: textfield;
  }

  .qty-container input::-webkit-outer-spin-button,
  .qty-container input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
  }

  .qty-container span {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qty-container button {
    all: unset;
    padding: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .qty-container button:active {
    background: rgba(132, 169, 156, 0.86);
  }

  .qty-container button:active span {
    color: white;
  }

  .harga {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
  }
  /* Checkout Right Content */
/* Top Content (Produk, quantity) */


/* Bottom content (Zona, Form) */
  /* Form */
  .form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }

  .form-left, 
  .form-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  .form p {
    font-size: 16px;
  }
  
  .form input, 
  .form textarea {
    height: 45px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    color: var(--text);
    border: solid 2px #F2F2F2;
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 0.07);
  }

  .form textarea {
    height: 150px;
    padding: 10px;
  }
  /* Form */


  /* Map */
  .zona-kirim-container {
    border-top: 2px solid var(--primary);
    padding-top: 20px;
    min-height: 360px;
    width: 100%;
  }

  .zona-kirim-container .container-title {
    margin-bottom: 0 !important;
  }

  #map {
    position: relative;
    width: 100%;
    height: 360px;
    margin-top: 5px !important;
    border-radius: 6px;
    overflow: hidden;
  }

  .leaflet-tooltip.apotek-label {
    background-color: #639884 !important;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    border: none;
  }
  /* Map */
/* Bottom content (Zona, Form) */


/* Right Container */
.right-container {
  flex: 1;
  height: fit-content;
  width: 100%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

  /* Metode Pembayaran */
  .metode-pembayaran-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .metode-pembayaran-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary);
  }

  .metode-pembayaran {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  .img-label-wrapper {
    display: inline-flex;
    align-items: center;
  }
  
  .metode-img-container {
    width: 40px;
    height: auto;
    margin-right: 15px;
  }

  .metode-pembayaran label {
    font-size: 16px;
    font-weight: 400;
  }
  /* Metode Pembayaran */
/* Right Container */



/* Metode Pengiriman */
.metode-pengiriman-container {
  display: flex;
  flex-direction: column;
}

.form-custom-dropdown {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 2px solid var(--primary);
  margin-bottom: 20px;
}

.choices {
  width: 100% !important;
  height: 100%;
  color: var(--text);
  display: flex;
  align-items: center;
  border: none;
  overflow: hidden;
  box-shadow: none;
  text-wrap: nowrap;
  background-color: transparent
}

.choices__inner {
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 6px;
  background-color: transparent;
}


.choices__item--selectable {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--text);
}

.btn {
  min-width: 100% !important;
  height: 50px;
  background-color: var(--primary);
  color: white;
  font-size: 19px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  transition: background-color 0.2s ease, color 0.1s ease;
}

.btn:hover {
  background-color: rgba(86, 169, 138, 0.86);
  color: white;
}

.ringkasan-transaksi-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 6px;
}

.ringkasan-transaksi-container span {
  font-weight: 600;
  color: var(--text);
}

.total-harga,
.ongkos-kirim {
  display: inline-flex;
  justify-content: space-between;
  font-size: 18px;
  color: rgb(67, 67, 67);
}
/* Metode Pengiriman */


/* Modal Pembayaran */
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modal-top-text {
    font-size: 16px !important;
    color: gray;
    font-weight: 400;
  }

  .modal-big-text {
    font-size: 19px;
    font-weight: 500;
  }
  
  .countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #countdown {
    font-size: 24px;
    font-weight: 600;
    color: var(--text);
  }

/* Modal Pembayaran*/