
/* Tambah Produk */
.produk-top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 2.3px solid rgb(108, 108, 108);
}

.produk-top-left {
  display: flex;
  flex-direction: row;
}

.produk-top-left a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.produk-top-left img { 
  max-width: 35px;
  max-height: auto;
}

.produk-top-right img {
  max-width: 30px;
  height: auto;
}

.produk-top-right a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}


.separator {
  height: 40px;
  width: 2.3px;
  background-color: var(--primary);
  margin: 0 13px;
}


  /* Form */
  .form-produk-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    height: auto;
  }

  .left-form,
  .middle-form {
    display: flex;
    flex-direction: column;
    width: 28%;
    gap: 20px;
  }

  .right-form {
    display: flex;
    flex-direction: column;
    width: 34%;
  }


  .form-produk-wrapper .form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .form-produk-wrapper .form p {
    font-size: 18px;
  }
  
  .form-produk-wrapper .form input,
  .form-produk-wrapper .form textarea {
    height: 45px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    color: var(--text);
    border: solid 2px #F2F2F2;
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 0.07);
  }

  .form-produk-wrapper .form textarea {
    height: 150px;
    padding: 10px;
  }
  /* Form */


  /* Custom File Upload */
    .upload-img-container {
      width: 100%;
      border: 2px solid var(--primary);
      border-radius: 6px;
      height: 470px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0 25px 0;
      padding: 2rem;
    }

    .upload-img-container img {
      height: 100%;
      width: 100%;
    }

    .upload-file-input {      
      width: 100%;
      border: solid 2px var(--primary);
      border-radius: 6px;
      height: 60px;
      display: flex;
      align-items: center;
    }

    input[type="file"] {
      max-width: 100%;
      width: 100%;
      min-width: 300px;
      cursor: pointer;
      overflow: hidden;
      font-size: 16px;
    }

    input[type="file"]::-webkit-file-upload-button {
      max-width: 100%;
      padding: 10px 15px;
      background-color: var(--primary); 
      color: white;
      border: none; 
      border-radius: 6px;
      
      margin: 12px;
      font-size: 16px; 
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    input[type="file"]::-webkit-file-upload-button:hover {
      background-color: #639884d3;
    }

    .btn--simpan {
      margin-top: 25px;
      width: 100%;
      height: 65px;
      background-color: var(--primary);
      color: white;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      font-weight: 700;
      box-shadow: var(--shadow);
    }

  /* Custom File Upload */

/* Tambah Produk */
